USE MASTER 
GO
IF DB_ID('QLCB') IS NOT NULL
	DROP  DATABASE QLCB
	GO
create database QLCB
go
USE QLCB
GO
CREATE TABLE PHANCONG (
	MANV nvarchar (15)  NOT NULL ,
	NGAYDI smalldatetime NOT NULL ,
	MACB nvarchar (3)  NOT NULL 
) 
GO

CREATE TABLE CHUYENBAY (
	MACB nvarchar (3)  NOT NULL ,
	SBDI nvarchar (3)  NULL ,
	SBDEN nvarchar (3)  NULL ,
	GIODI smalldatetime NULL ,
	GIODEN smalldatetime NULL 
) 
GO

CREATE TABLE KHACHHANG (
	MAKH nvarchar (15) NOT NULL,
	TEN nvarchar (15)  NULL ,
	DCHI nvarchar (50)  NULL ,
	DTHOAI nvarchar (15)  NULL 
) 
GO

CREATE TABLE DATCHO (
	MAKH nvarchar (15)  NOT NULL ,
	NGAYDI smalldatetime NOT NULL ,
	MACB nvarchar (3)  NOT NULL 
) 
GO

CREATE TABLE KHANANG (
	MANV nvarchar (15)  NOT NULL ,
	MALOAI nvarchar (15)  NOT NULL 
) 
GO

CREATE TABLE LICHBAY (
	NGAYDI smalldatetime NOT NULL ,
	MACB nvarchar (3)  NOT NULL ,
	SOHIEU smallint NULL ,
	MALOAI nvarchar (15)  NULL 
) 
GO

CREATE TABLE LOAIMB (
	HANGSX nvarchar (15)  NULL ,
	MALOAI nvarchar (15)  NOT NULL 
) 
GO

CREATE TABLE MAYBAY (
	SOHIEU smallint NOT NULL ,
	MALOAI nvarchar (15)  NOT NULL 
) 
GO

CREATE TABLE NHANVIEN (
	MANV nvarchar (15)  NOT NULL ,
	TEN nvarchar (15)  NULL ,
	DCHI nvarchar (50)  NULL ,
	DTHOAI nvarchar (15)  NULL ,
	LUONG float NULL ,
	LOAINV bit NULL 
) 
GO

ALTER TABLE PHANCONG  ADD 
	CONSTRAINT PK_PHANCONG PRIMARY KEY   
	(
		MANV,
		NGAYDI,
		MACB
	)   
GO

ALTER TABLE CHUYENBAY  ADD 
	CONSTRAINT PK_CHUYENBAY PRIMARY KEY   
	(
		MACB
	)   
GO

ALTER TABLE KHACHHANG  ADD 
	CONSTRAINT PK_KHACHHANG PRIMARY KEY   
	(
		MAKH
	)   
GO

ALTER TABLE DATCHO  ADD 
	CONSTRAINT PK_DATCHO PRIMARY KEY   
	(
		MAKH,
		NGAYDI,
		MACB
	)   
GO

ALTER TABLE KHANANG  ADD 
	CONSTRAINT PK_KHANANG PRIMARY KEY   
	(
		MANV,
		MALOAI
	)   
GO

ALTER TABLE LICHBAY  ADD 
	CONSTRAINT PK_LICHBAY PRIMARY KEY   
	(
		NGAYDI,
		MACB
	)   
GO

ALTER TABLE LOAIMB  ADD 
	CONSTRAINT PK_LOAIMB PRIMARY KEY   
	(
		MALOAI
	)   
GO

ALTER TABLE MAYBAY  ADD 
	CONSTRAINT PK_MAYBAY PRIMARY KEY   
	(
		SOHIEU,
		MALOAI
	)   
GO

ALTER TABLE NHANVIEN  ADD 
	CONSTRAINT PK_NHANVIEN PRIMARY KEY   
	(
		MANV
	)   
GO

ALTER TABLE PHANCONG ADD 
	CONSTRAINT FK_PHANCONG_LICHBAY FOREIGN KEY 
	(
		NGAYDI,
		MACB
	) REFERENCES LICHBAY (
		NGAYDI,
		MACB
	),
	CONSTRAINT FK_PHANCONG_NHANVIEN FOREIGN KEY 
	(
		MANV
	) REFERENCES NHANVIEN (
		MANV
	)
GO

ALTER TABLE DATCHO ADD 
	CONSTRAINT FK_DATCHO_KHACHHANG FOREIGN KEY 
	(
		MAKH
	) REFERENCES KHACHHANG (
		MAKH
	),
	CONSTRAINT FK_DATCHO_LICHBAY FOREIGN KEY 
	(
		NGAYDI,
		MACB
	) REFERENCES LICHBAY (
		NGAYDI,
		MACB
	)
GO

ALTER TABLE KHANANG ADD 
	CONSTRAINT FK_KHANANG_LOAIMB FOREIGN KEY 
	(
		MALOAI
	) REFERENCES LOAIMB (
		MALOAI
	),
	CONSTRAINT FK_KHANANG_NHANVIEN FOREIGN KEY 
	(
		MANV
	) REFERENCES NHANVIEN (
		MANV
	)
GO

ALTER TABLE LICHBAY ADD 
	CONSTRAINT FK_LICHBAY_CHUYENBAY FOREIGN KEY 
	(
		MACB
	) REFERENCES CHUYENBAY (
		MACB
	),
	CONSTRAINT FK_LICHBAY_MAYBAY FOREIGN KEY 
	(
		SOHIEU,
		MALOAI
	) REFERENCES MAYBAY (
		SOHIEU,
		MALOAI
	)
GO

ALTER TABLE MAYBAY ADD 
	CONSTRAINT FK_MAYBAY_LOAIMB FOREIGN KEY 
	(
		MALOAI
	) REFERENCES LOAIMB (
		MALOAI
	)
GO


INSERT INTO KHACHHANG
VALUES ('0101','Anh','567 Tran Phu','8826729')
INSERT INTO KHACHHANG
VALUES ('0009','Nga','223 Nguyen Trai','8932320')
INSERT INTO KHACHHANG
VALUES ('0045','Thu','285 Le Loi','8932203')
GO

INSERT INTO NHANVIEN
VALUES ('1001','Huong','8 Dien Bien Phu','8330733',50000,1)
INSERT INTO NHANVIEN
VALUES ('1002','Phong','1 Ly Thuong Kiet', '8308117',45000,1)
INSERT INTO NHANVIEN
VALUES ('1003','Quang','78 Truong Dinh', '8234461',35000,1)
GO

INSERT INTO CHUYENBAY
VALUES ('100','SLC','BOS','08:00','17:50')
INSERT INTO CHUYENBAY
VALUES ('112','DCA','DEN','14:00','18:07')
INSERT INTO CHUYENBAY
VALUES ('121','STL','SLC','07:00','09:13')
GO

INSERT INTO LOAIMB
VALUES ('Airbus','A310')
INSERT INTO LOAIMB
VALUES ('Airbus','A320')
INSERT INTO LOAIMB
VALUES ('Airbus','A330')
GO

INSERT INTO MAYBAY
VALUES (10,'B747')
INSERT INTO MAYBAY
VALUES (11,'B727')
INSERT INTO MAYBAY
VALUES (13,'B727')
GO

INSERT INTO KHANANG
VALUES ('1001','B727')
INSERT INTO KHANANG
VALUES ('1001','B747')
INSERT INTO KHANANG
VALUES ('1001','DC10')
GO

INSERT INTO LICHBAY
VALUES ('2000-10-31','100',10,'B747')
INSERT INTO LICHBAY
VALUES ('2000-10-31','112',11,'B727')
INSERT INTO LICHBAY
VALUES ('2000-10-31','206',13,'B727')
GO

INSERT INTO PHANCONG
VALUES ('1001','2000-10-31','100')
INSERT INTO PHANCONG
VALUES ('1001','2000-11-01','100')
INSERT INTO PHANCONG
VALUES ('1002','2000-10-31','100')
GO

INSERT INTO DATCHO
VALUES ('0009','2000-10-31','449')
INSERT INTO DATCHO
VALUES ('0009','2000-11-01','100')
INSERT INTO DATCHO
VALUES ('0045','2000-11-01','991')
GO


--Q1
SELECT NV.MANV , NV.TEN ,NV.DCHI , NV.DTHOAI
FROM NHANVIEN NV JOIN KHANANG KN ON NV.MANV =KN.MANV AND KN.MALOAI ='B747' AND NV.LOAINV=1
--Q2
SELECT CB.MACB , LB.NGAYDI
FROM CHUYENBAY CB JOIN LICHBAY LB ON CB.MACB =LB.MACB AND CB.SBDI='DCA' AND CB.GIODI BETWEEN '14:00' AND '18:00'
--Q3
SELECT DISTINCT NV.TEN
FROM NHANVIEN NV JOIN PHANCONG PC ON NV.MANV=PC.MANV JOIN CHUYENBAY CB ON CB.MACB = PC.MACB AND CB.MACB ='100' AND CB.SBDI ='SLC'
--Q4
SELECT LB.MALOAI , LB.SOHIEU
FROM CHUYENBAY CB JOIN LICHBAY LB ON LB.MACB =CB.MACB AND CB.SBDI='MIA'
--Q5
SELECT LB.MACB ,LB.NGAYDI,KH.TEN , KH.DCHI , KH.DTHOAI
FROM LICHBAY LB JOIN DATCHO DC ON LB.MACB=DC.MACB JOIN KHACHHANG KH ON KH.MAKH=DC.MAKH 
ORDER BY LB.MACB ASC ,LB.NGAYDI DESC
--Q6
SELECT  LB.MACB ,LB.NGAYDI,NV.TEN , NV.DCHI , NV.DTHOAI
FROM LICHBAY LB JOIN PHANCONG PC ON LB.MACB=PC.MACB JOIN NHANVIEN NV ON NV.MANV=PC.MANV 
ORDER BY LB.MACB ASC ,LB.NGAYDI DESC
--Q7
SELECT  LB.MACB ,LB.NGAYDI,NV.MANV,NV.TEN 
FROM LICHBAY LB JOIN PHANCONG PC ON LB.MACB=PC.MACB JOIN NHANVIEN NV ON NV.MANV=PC.MANV JOIN CHUYENBAY CB ON CB.MACB=LB.MACB AND CB.SBDEN='ORD' AND NV.LOAINV=1
--Q8 CHUA XONG 
SELECT CB.MACB , LB.NGAYDI, NV.TEN
FROM CHUYENBAY CB JOIN LICHBAY LB ON CB.MACB=LB.MACB JOIN PHANCONG PC ON PC.MACB = LB.MACB JOIN NHANVIEN NV ON NV.MANV =PC.MANV AND NV.LOAINV=1
--Q9
SELECT CB.MACB, CB.SBDI, CB.GIODI ,CB.GIODEN ,LB.NGAYDI
FROM CHUYENBAY CB , LICHBAY LB
WHERE CB.MACB = LB.MACB AND CB.SBDEN ='DEN'
ORDER BY LB.NGAYDI DESC , CB.SBDI ASC
--Q10
SELECT NV.TEN , L.HANGSX , L.MALOAI
FROM NHANVIEN NV JOIN KHANANG KN ON KN.MANV=NV.MANV JOIN LOAIMB L ON L.MALOAI =KN.MALOAI AND NV.LOAINV=1
--Q11
SELECT DISTINCT NV.MANV , NV.TEN
FROM NHANVIEN NV JOIN PHANCONG PC ON PC.MANV=NV.MANV JOIN LICHBAY LB ON LB.MACB =PC.MACB AND NV.LOAINV=1 AND LB.MACB='100' AND LB.NGAYDI='11/01/2000'
--Q12
SELECT DISTINCT CB.MACB,NV.MANV , NV.TEN
FROM NHANVIEN NV JOIN PHANCONG PC ON PC.MANV=NV.MANV JOIN CHUYENBAY CB ON CB.MACB =PC.MACB JOIN LICHBAY LB ON LB.MACB = CB.MACB AND LB.NGAYDI='10/31/2000' AND CB.SBDI='MIA' AND CB.GIODI='20:30'
--Q13
SELECT DISTINCT PC.MACB ,L.MALOAI, L.HANGSX
FROM NHANVIEN NV JOIN KHANANG KN ON KN.MANV=NV.MANV JOIN LOAIMB L ON L.MALOAI =KN.MALOAI JOIN PHANCONG PC ON PC.MANV=NV.MANV JOIN MAYBAY MB ON MB.MALOAI=L.MALOAI AND NV.TEN='Quang'

SELECT DISTINCT LB.MACB ,L.MALOAI, L.HANGSX
FROM NHANVIEN NV JOIN KHANANG KN ON KN.MANV=NV.MANV JOIN LOAIMB L ON L.MALOAI =KN.MALOAI  JOIN MAYBAY MB ON MB.MALOAI=L.MALOAI JOIN LICHBAY LB ON LB.MALOAI=MB.MALOAI AND NV.TEN='Quang'
--Q14

--Q15
SELECT DISTINCT KH.TEN
FROM KHACHHANG KH JOIN DATCHO DC ON DC.MAKH= KH.MAKH JOIN LICHBAY LB ON LB.MACB = DC .MACB JOIN MAYBAY MB ON MB.MALOAI = LB.MALOAI JOIN LOAIMB L ON L.MALOAI =MB.MALOAI AND L.HANGSX='Boeing'
--Q16
SELECT DISTINCT LB.MACB
FROM LICHBAY LB
WHERE LB.SOHIEU=10 AND LB.MALOAI ='B747'
